*{
    box-sizing: border-box;
}

#main-container{
    margin: auto;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#add-message-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.input-container{
    width: 100%;
}

.input{
    border: 1px solid gray;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 5px;
}

.input-container{
    display: flex;
    justify-content: space-between;
}

#add-button{
    background-color: #6A81EA;
    border: none;
    border-radius: 5px;
    color: white;
    width: 30%;
}

#word-input{
    width: 65%;
}

#word-count-container{
    text-align: center;
    background-color: #F8FAFC;
    border-radius: 8px;
}

#word-count{
    color: #6A81EA;
}

.success-message{
    border-radius: 5px;
    background-color: #C6F6D5;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.error-message{
    border-radius: 5px;
    background-color: #FED7D7;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#suggestion-container{
    position: relative;
    width: 100%;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
}